<h2>You are in the lobby, {{user.name}}</h2>
<div class="left">
  <p>the population</p>
  <ul>
    <li ng-repeat="person in people"><img style="height: 50px" src="{{person.avatar}}" alt="image of person">{{person.name}}
      <a href="" ng-click="deletePerson(person)">Delete</a></li>

  </ul>
</div>
<div class="right">
    
    <p>Navigate Rooms</p>
    <div ng-repeat="room in rooms">
        <ul>
            <li>
                <p><a href="#/room/{{room._id}}">{{room.title}}</a> - created on {{room.date | date:'short'}}</p>
            </li>

        </ul>
    </div>
    <p>or, create a new room:</p>
    <form action="" ng-submit="createRoom(newRoom)">
        <input type="text" ng-model="newRoom.title">
        <!--span ng-init="newRoom.chat=[{author: "PUT USER NAME HERE", date: PUTSOMETHING HERE, chat: "Room created."}]"></span-->
        <button type="submit">Create Room</button>
    </form>
    </div>
