<h2>this is a room</h2>

<p>{{singleRoom.title}}</p>
<div id="chatWindow">
    <ul id="chatList">
        <li ng-repeat="message in singleRoom.chats">
            <p>On {{message.time | date:'short'}}, {{message.author}} said:</p>
            <p>{{message.text}}</p>
        </li>
        <span style="color:red" id="bottom">bottom</span>
    </ul>
</div>

<!-- <div class="right" ng-repeat="items in chats">
  <p>{{chat.name}}:</p>
  <p>{{chat.text}}</p>
  <p>{{chat.date}}</p>
  
</div> -->
<form action="" ng-submit="chat(singleRoom, newChat)">
  <input type="text" ng-model="newChat.text">
</form>
<a href="" ng-click="goToBottom()">View Most Recent</a>
