<h2>this is a room</h2>

<p>{{singleRoom.title}}</p>
<p>
    <input type="text" ng-model="search.text" placeholder="Search by text"/>
    <!-- trying to count the number of matches to the search -->
    <!--span>{{search.chats.length}} matches</span-->
    <input type="text" ng-model="search.author" placeholder="Search by contributor"/>
</p>
<div id="chatWindow">
    <ul id="chatList">
        <li ng-class-odd="'odd'" ng-class-even="'even'"ng-repeat="message in singleRoom.chats | filter : search : strict">
            <p>On {{message.time | date:'short'}}, {{message.author}} said:</p>
            <p>{{message.text}}</p>
        </li>
        <!-- This span is here for the moment to act as a buffer and an item to scroll to when a new chat is added -->
        <!-- See goToBottom() function in roomsCtrl for more information -->
        <span style="display: block; color:red; padding-top: 30px" id="bottom">This chat room has {{singleRoom.chats.length.toString()}} contributions.</span>
    </ul>
</div>

<!-- <div class="right" ng-repeat="items in chats">
  <p>{{chat.name}}:</p>
  <p>{{chat.text}}</p>
  <p>{{chat.date}}</p>
  
</div> -->
<form action="" ng-submit="chat(singleRoom, newChat)">
  <input type="text" ng-model="newChat.text" placeholder="{{user.name}} says...">
</form>
<a href="" ng-click="goToBottom()">View Most Recent</a>
