body {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#60a3e1), to(#29b5c3));
  background: -webkit-linear-gradient(top, #60a3e1, #29b5c3);
  background: -moz-linear-gradient(top, #60a3e1, #29b5c3);
  background: -o-linear-gradient(top, #60a3e1, #29b5c3);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif; }

.container {
  margin: 0;
  padding: 0;
  width: 100%; }

h1 {
  font-family: 'Pacifico', cursive;
  color: white; }

h2 {
  color: white; }

input {
  border-radius: 5px;
  border: 1px solid lightgray; }

button {
  border-radius: 5px; }

.main {
  text-align: center; }
  .main h1 {
    font-size: 10em;
    margin-top: 5%; }
  .main img {
    width: 15%; }

header {
  width: 100%;
  border-bottom: 2px solid white; }
  header h1 {
    margin-left: 2.5%;
    display: inline-block; }
  header img {
    width: 3.5%;
    float: right;
    margin-top: 1.5%;
    margin-right: 2.5%; }

.lobby {
  width: 90%;
  margin-left: 5%; }
  .lobby h3 {
    margin-top: 0;
    font-weight: 700; }

.left {
  background-color: white;
  width: 30%;
  border-radius: 5px;
  display: inline-block;
  padding: 2%; }
  .left .navUsers {
    position: relative;
    height: 314px;
    overflow-y: scroll; }
  .left ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .left li {
    font-size: 1.5em; }
    .left li img {
      margin-right: 2%; }

.right {
  background-color: white;
  width: 69%;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  padding: 2%; }
  .right .navRooms {
    position: relative;
    height: 250px;
    overflow-y: scroll; }
    .right .navRooms li {
      font-size: 1.5em; }

.rooms {
  width: 90%;
  margin-left: 5%; }
  .rooms .search {
    width: 15%; }
  .rooms ul {
    list-style: none;
    padding: 2%; }

.chatBox {
  width: 100%;
  font-size: 1.5em; }

#chatWindow {
  position: relative;
  height: 300px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 5px; }
  #chatWindow ul {
    float: bottom;
    bottom: 0;
    margin-bottom: -60px; }
    #chatWindow ul .even {
      background-color: lightgrey; }
