#chatWindow {
  position: relative;
  height: 600px;
  overflow-y: scroll;
  border: 1px solid black; }
  #chatWindow ul {
    float: bottom;
    bottom: 0;
    margin-bottom: -60px; }
    #chatWindow ul .even {
      background-color: lightgrey; }
