body {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#60a3e1), to(#29b5c3));
  background: -webkit-linear-gradient(top, #60a3e1, #29b5c3);
  background: -moz-linear-gradient(top, #60a3e1, #29b5c3);
  background: -o-linear-gradient(top, #60a3e1, #29b5c3);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.main {
  margin-top: -2.5%;
  text-align: center; }
  .main h1 {
    font-family: 'Pacifico', cursive;
    font-size: 10em;
    padding: 10% 0;
    color: white; }

#chatWindow {
  position: relative;
  height: 450px;
  overflow-y: scroll;
  border: 1px solid black; }
  #chatWindow ul {
    float: bottom;
    bottom: 0;
    margin-bottom: -60px; }
    #chatWindow ul .even {
      background-color: lightgrey; }
